{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "dynamicImport": true,
      "decorators": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "target": "es2017",
    "externalHelpers": false,
    "keepClassNames": true,
    "loose": false,
    "minify": {
      "compress": false,
      "mangle": false
    },
    "baseUrl": "src",
    "paths": {
      "@scheduler/*": ["*"],
      "@backend/*": ["../../blutor-backend/dist/*"],
      "@config": ["../../blutor-backend/dist/config"],
      "@databases": ["../../blutor-backend/dist/databases"],
      "@interfaces/*": ["../../blutor-backend/dist/interfaces/*"],
      "@models/*": ["../../blutor-backend/dist/models/*"],
      "@services/*": ["../../blutor-backend/dist/services/*"],
      "@utils/*": ["../../blutor-backend/dist/utils/*"],
      "@constants/*": ["../../blutor-backend/dist/constants/*"],
      "@responses/*": ["../../blutor-backend/dist/responses/*"],
      "@abstracts/*": ["../../blutor-backend/dist/abstracts/*"],
      "@dtos/*": ["../../blutor-backend/dist/dtos/*"],
      "@customTypes/*": ["../../blutor-backend/dist/customTypes/*"],
      "@/*": ["../../blutor-backend/dist/*"]
    }
  },
  "module": {
    "type": "commonjs"
  }
}
